.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.websiteSubtitle {
  background-color: rgba(82, 80, 80, 0.8);
}

.project-link:hover {
  /* opacity: 50%; */
  background-color: black;
}

@media(min-width: 1000px){
    #websiteSubtitle {
    font-size: 4rem;
    top: 40%;
  }
}

.skills div span ul {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 1000px){
  .skills div span ul {
    flex-wrap: wrap;
    list-style: none;
  }
  .skills div span ul li {
    margin-right: 1em;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
